<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        ABC
    </header>
    <nav>
        <a href="/home/index">Home</a> |
        <a href="/home/abc">ABC</a> |
        <a href="/cuenta/registro">Registro de cuenta</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        Pie de pag
    </footer>
</body>
</html>