@model Mascota

<h1>Formulario de registro de mascota</h1>


<form method="post">

    <div asp-validation-summary="All"></div>

    <input asp-for="Nombre" />
    <input asp-for="Edad" />
    <select asp-for="AlbergueId" asp-items="ViewBag.Albergues"></select>

    <button>Guardar</button>
</form>