<h1>Formulario de Registro</h1>

<form action="" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="email">Correo: </label>
        <input type="email" name="correo" id="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="usuario">Nombre de usuario: </label>
        <input type="text" name="usuario" id="usuario" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña: </label>
        <input type="password" name="password" id="password" class="form-control" />
    </div>
    <button class="btn btn-primary">Crear cuenta de usuario</button>
</form>